/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the esp32_devkitc_wroom board.
 */

/ {
	example_sensor: example-sensor {
		compatible = "zephyr,example-sensor";
		input-gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		status = "disabled";  /* Disable for ESP32 - no physical sensor */
	};

	blink_led: blink-led {
		compatible = "blink-gpio-led";
		led-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;  /* Onboard LED on ESP32 DevKitC */
		blink-period-ms = <1000>;
	};

	chosen {
		zephyr,display = &ssd1306;
	};
	
	aliases {
		led0 = &board_led;
	};
	
	leds {
		compatible = "gpio-leds";
		board_led: led_0 {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "Onboard LED";
		};
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	ssd1306: ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		prechargep = <0x22>;
	};
};

/ {
	wifi_ap: wifi_ap {
		compatible = "espressif,esp32-wifi";
		status = "okay";
	};
};

/* I2S Configuration for INMP441 Microphone */
/ {
	i2s_pinctrl: i2s_pinctrl {
		compatible = "gpio";
		/* INMP441 wiring:
		 * SCK (BCLK) -> GPIO26
		 * WS  (LRCLK) -> GPIO25
		 * SD  (DIN)   -> GPIO33
		 */
		bclk-pin = <26>;
		ws-pin = <25>;
		din-pin = <33>;
	};
};
