# WiFi Configuration
# Copy this file to wifi_config.conf and set your credentials
# wifi_config.conf is gitignored and won't be committed

CONFIG_WIFI_SSID="YourSSID"
CONFIG_WIFI_PASSWORD="YourPassword"
CONFIG_WIFI_AP_SSID="ESP32_SmartHome"
CONFIG_WIFI_AP_PASSWORD="12345678"
